body {
  background-color: black;
  color: white;
  margin: 0%;
  font-family: 'Courier New', Courier, monospace;
} 

.fa {
  padding: 15px;
  font-size: 60px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 15px 12px;
  border-radius: 40%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-instagram {
  background: rgb(233, 9, 95);
  color: white;
}

img {
  max-width: 100%;
  border-radius: 5%;
}

nav {
  border-radius: 5px;
}

ul {
  list-style-type: none;
}

li.item>a {
  color: white;
}

a {
  text-decoration-line: none;
}

.header {
  text-align: center;
  padding: 32px;
}

h1 {
  color: white;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  font-size: 90px;
  font-weight: bolder;
  text-align: center;
  padding: 0%;
}

p {
  color: white;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  font-size: 28px;
  font-weight: bolder;
  text-align: center;
}

.portfolios>p {
  color: white;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  font-size: 26px;
  font-weight: bolder;
  font-style: italic;
  text-align: center;
  padding: 1.65%;
}

h2 {
  font-family: 'Courier New', Courier, monospace;
  color: white;
  font-size: 40px;
  font-weight: bolder;
  text-align: center;
  padding: 25px;
}

h4 {
  font-family: 'Courier New', Courier, monospace;
  color: white;
  font-size: 26px;
  font-weight: bolder;
  text-align: center;
}

h5 {
  font-family: 'Courier New', Courier, monospace;
  color: white;
  font-size: 16px;
  font-weight: bolder;
  text-align: center;
}

/*package subtitle*/
a {
  color: white;
  font-size: 18px;
}

a>p {
  font-size: 18px !important;
  text-align: center;
}

.pkginfo>p {
  text-align: center;
  font-size: 22px;
  padding: 0.75%;
}

div#aboutme>.flex-item-about-me>p {
  font-size: 18px;
}

div#aboutme>.flex-item-editor>p {
  font-size: 18px;
}

.disclaimer>p {
  text-align: center;
  font-size: 15px;
  font-style: italic;
  padding: 0.35%;
}

footer {
  padding: 4%;
}

/*Contact Form */
  /* Style inputs with type="text", select elements and textareas */
  input[type=text], 
  select, 
  textarea {
    width: 100%; 
    /* Full width */
    padding: 8px; 
    /* Some padding */ 
    border: 3px solid #ccc; 
    /* Gray border */
    border-radius: 4px; 
    /* Rounded borders */
    box-sizing: border-box; 
    /* Make sure that padding and width stays in place */
    margin-top: 6px; 
    /* Add a top margin */
    margin-bottom: 16px; 
    /* Bottom margin */
    resize: vertical 
    /* Allow the user to vertically resize the textarea (not horizontally) */
  }

  div#previewMsg {
    text-align: center;
  }
  
  /* Style the submit button with a specific background color etc */
  .button {
    background-color: rgb(141, 8, 141);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 18px;
  }

  /* When moving the mouse over the submit button, add a lighter purple color */
  .button:hover {
    background-color: #a78ce7
  }

  /* Add a background color and some padding around the form */
  form {
    max-width: 700px;
    margin: 0 auto;
    border-radius: 5px;
    background-color: rgb(63, 20, 63);
    padding: 20px;
  }
 
 
 /* hamburger icon */
  /* POSITIONING HAMBURGER TOP LEFT OF BODY TAG*/
  .menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    border: 3px solid #fff;
  }

  /* CREATING BARS - HAMBURGER */
  .menu-btn_burger {
    width: 50px;
    height: 6px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
    transition: all .5s ease-in-out;
  }

  .menu-btn_burger::before,
  .menu-btn_burger::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 6px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
    transition: all .5s ease-in-out;
  }

  .menu-btn_burger::before {
    transform: translateY(-16px);
  }

  .menu-btn_burger::after {
    transform: translateY(16px);
  }

  /*ANIMATION */
  .menu-btn.open .menu-btn_burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
  }

  .menu-btn.open .menu-btn_burger::before {
    transform: rotate(45deg) translate(35px, -35px);
  }

  .menu-btn.open .menu-btn_burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }

  /* mobile viewport */
  .flex-container {
    max-width: 1250px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: black;
  }

  .navMenu {
    display: none;
  }

  .navMenu:active {
    position: relative;
    display: block;
    text-align: center;
    background-color: white;
  }

  .flex-item-pkg-1,
  .flex-item-pkg-2,
  .flex-item-pkg-3 {
    flex: 30%;
    text-align: center;
    align-self: center;
    padding: 6px;
    border: 1px solid red;
    min-width: 300px;
  }

  .about-container {
    max-width: 50%;
    text-align: center;
    align-self: center;
    border: 1px solid red;
    margin: 0 auto;
  }

  .about-container>div>img {
    min-width: 100px;
  }

  /* Responsive layout - makes the two comlumns stack */
  @media all and (min-width: 650px) {
    .flex-container {
      flex-direction: row;
      flex-wrap: wrap;
      align-content: center;
    }

    /*.flex-item-about-me,
    .flex-item-editor {
      flex: 50%;
      align-self: center;
    }*/

    /*.flex-item-pkg-1,
   .flex-item-pkg-2,
   .flex-item-pkg-3 {
     flex: 33%;
     text-align: center;
     align-self: center;
     padding: 0px;
     border: 1px solid red;
   }*/

    .flex-item-photo-1,
    .flex-item-photo-2,
    .flex-item-photo-3,
    .flex-item-photo-4 {
      flex: 50%;
    }
  }

  /*media query tablet and > */
  @media all and (min-width: 768px) {

    .navMenu:active,
    .navMenu {
      display: flex;
      min-width: 100%;
      min-height: 100px;
      text-align: center;
      background-color: rgb(63, 20, 63);
    }

    .item {
      display: inline;
      justify-content: space-around;
      cursor: pointer;
      transition: all .5s ease-in-out;
    }

    li.item {
      width: 100%;
      min-height: 50px;
      margin: 10px 15px;
      border-radius: 10px;
    }

    .menu-btn {
      display: none;
    }
  }

  /* Responsive layout - 4 column layout */
  @media all and (min-width: 900px) {

    .flex-item-photo-1,
    .flex-item-photo-2,
    .flex-item-photo-3,
    .flex-item-photo-4 {
      flex: 25%;
      margin: 10px auto;
    }
  }
