body {
  background-color: black;
  color: white;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  padding: 0;
}

.fa {
  padding: 15px;
  font-size: 60px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 15px 12px;
  border-radius: 40%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-instagram {
  background: rgb(233, 9, 95);
  color: white;
}

img {
  max-width: 100%;
  border-radius: 5%;
}

nav {
  border-radius: 5px;
  ;
}

ul {
  list-style-type: none;
}

a {
  text-decoration-line: none;
}

li.item>a {
  color: white;
}

.header {
  text-align: center;
  padding: 32px;
}

h1 {
  color: white;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  font-size: 70px;
  font-weight: bolder;
  text-align: center;
}

p {
  color: white;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  font-size: 28px;
  font-weight: bolder;
  text-align: center;
}

.about {
  display: flex;
  align-self: flex-start;
  font-size: 18px;
  float: right;
}

.portfolios>p {
  color: white;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  font-size: 26px;
  font-weight: bolder;
  font-style: italic;
  text-align: center;
  padding: 1.65%;
}

h2 {
  font-family: 'Courier New', Courier, monospace;
  color: white;
  font-size: 30px;
  font-weight: bolder;
  text-align: center;
  padding: 30px;
}

h3 {
  font-family: 'Courier New', Courier, monospace;
  color: white;
  font-size: 20px;
  font-weight: bolder;
  font-style: italic;
  text-align: center;
  padding: 30px;
}

h4 {
  font-family: 'Courier New', Courier, monospace;
  color: white;
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
}

h5 {
  font-family: 'Courier New', Courier, monospace;
  color: white;
  font-size: 16px;
  font-weight: bolder;
  text-align: center;
}

.pkginfo {
  padding: 0.9%;
}

.pkginfo>p {
  text-align: center;
  font-size: 22px;
  padding: 0.75%;
}

div#aboutme>.flex-item-about-me>p {
  font-size: 18px;
}

div#aboutme>.flex-item-editor>p {
  font-size: 18px;
}

.disclaimer>p {
  text-align: center;
  font-size: 15px;
  font-style: italic;
  padding: 0.35%;
}

footer {
  padding: 4%;
}

/*Contact Form */
/* Style inputs with type="text", select elements and textareas */
input[type=text],
select,
textarea {
  width: 100%;
  /* Full width */
  padding: 8px;
  /* Some padding */
  border: 3px solid #ccc;
  /* Gray border */
  border-radius: 4px;
  /* Rounded borders */
  box-sizing: border-box;
  /* Make sure that padding and width stays in place */
  margin-top: 6px;
  /* Add a top margin */
  margin-bottom: 16px;
  /* Bottom margin */
  resize: vertical
    /* Allow the user to vertically resize the textarea (not horizontally) */
}

div#previewMsg {
    text-align: center;
  }

  /* Style the submit button with a specific background color etc */
  .button {
    background-color: rgb(141, 8, 141);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 18px;
  }

  /* When moving the mouse over the submit button, add a lighter purple color */
  .button:hover {
    background-color: #a78ce7
  }

/* Add a background color and some padding around the form */
form {
  max-width: 700px;
  margin: 0 auto;
  border-radius: 5px;
  background-color: rgb(63, 20, 63);
  padding: 20px;
}

/* hamburger icon */
/* POSITIONING HAMBURGER TOP LEFT OF BODY TAG*/
.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  cursor: pointer;
  transition: all .5s ease-in-out;
  border: 3px solid #fff;
}

/* CREATING BARS - HAMBURGER */
.menu-btn_burger {
  width: 50px;
  height: 6px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
  transition: all .5s ease-in-out;
}

.menu-btn_burger::before,
.menu-btn_burger::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 6px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
  transition: all .5s ease-in-out;
}

.menu-btn_burger::before {
  transform: translateY(-16px);
}

.menu-btn_burger::after {
  transform: translateY(16px);
}

/*ANIMATION */
.menu-btn.open .menu-btn_burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}

.menu-btn.open .menu-btn_burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn_burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

/* mobile viewport */
.flex-container {
  max-width: 1250px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: black;
}

.flex-item-pkg-1 img,
.flex-item-pkg-2 img,
.flex-item-pkg-3 img {
  width: 100%
}

.navMenu {
  display: none;
}

.navMenu:active {
  position: relative;
  display: block;
  text-align: center;
  text-decoration-color: white;
}

/* Responsive layout - makes the two columns stack */
@media all and (min-width: 650px) {
  .flex-container {
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
  }

.flex-item-pkg-1 img,
.flex-item-pkg-2 img,
.flex-item-pkg-3 img {
  width: 250px;
  height: 250px;
}

  .flex-item-about-me,
  .flex-item-editor {
    flex: 100%;
    align-self: center;
  }

  .flex-item-about-me img,
  .flex-item-editor img {
    display: inline;
    width: 200px;
    height: 300px;
  }

  .flex-item-pkg-1,
  .flex-item-pkg-2,
  .flex-item-pkg-3 {
    flex: 25%;
    align-self: center;
    padding: 5px;
  }

  .flex-item-photo-1,
  .flex-item-photo-2,
  .flex-item-photo-3,
  .flex-item-photo-4 {
    flex: 48%;
    padding: 4px;
  }
}

/*media query tablet and > */
@media all and (min-width: 768px) {

  .navMenu:active,
  .navMenu {
    display: flex;
    min-width: 100%;
    min-height: 100px;
    text-align: center;
    background-color: black;
  }

  .item {
    display: inline;
    justify-content: space-around;
    cursor: pointer;
    transition: all .5s ease-in-out;
  }

  li.item {
    width: 100%;
    min-height: 50px;
    margin: 10px 15px;
    border-radius: 10px;
  }

  .menu-btn {
    display: none;
  }
}

/* Responsive layout - 4 column layout */
@media all and (min-width: 900px) {

  .flex-item-photo-1,
  .flex-item-photo-2,
  .flex-item-photo-3,
  .flex-item-photo-4 {
    flex: 24%;
    margin: 10px auto;
    padding: 4px;
  }

  .flex-item-pkg-1 img,
  .flex-item-pkg-2 img,
  .flex-item-pkg-3 img {
    width: 300px;
    height: 300px;
}

  .flex-item-about-me img,
  .flex-item-editor img {
    width: 350px;
    height: 450px;
  }
}

.imgandtext {
  height: 100%;
  display: flex;
  justify-content: center;
}

.imgandtext p {
  height: 350px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

/*estimatecart*/
.shop-item {
  margin: 30px;
}

.shop-item-title {
  display: block;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  color: purple;
  margin-bottom: 15px;
}

.shop-item-image {
  height: 250px;
}

.shop-item-details {
  display: flex;
  align-items: center;
  padding: 5px;
}

.shop-item-price {
  flex-grow: 1;
  color: white;
}

.shop-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cart-header {
  font-weight: bold;
  font-size: 1.25em;
  color: white;
}

.cart-column {
  display: flex;
  align-items: center;
  border-bottom: 1px solid purple;
  margin-right: 1.5em;
  padding-bottom: 10px;
  margin-top: 10px;
}

.cart-row {
  display: flex;
}

.cart-item {
  width: 45%;
}

.cart-price {
  width: 20%;
  font-size: 1.2em;
  color: white;
}

.cart-quantity {
  width: 35%;
}

.cart-item-title {
  color: rgb(133, 65, 160);
  margin-left: .5em;
  font-size: 1.2em;
}

.cart-item-image {
  width: 75px;
  height: auto;
  border-radius: 10px;
}

.btn-danger {
  color: black;
  background-color: #EB5757;
  border: none;
  border-radius: .3em;
  font-weight: bold;
}

.btn-danger:hover {
  background-color: #CC4C4C;
}

.cart-quantity-input {
  height: 34px;
  width: 50px;
  border-radius: 5px;
  border: 1px solid purple;
  background-color: white;
  color: purple;
  padding: 0;
  text-align: center;
  font-size: 1.2em;
  margin-right: 25px;
}

.cart-row:last-child {
  border-bottom: 1px solid purple;
}

.cart-row:last-child .cart-column {
  border: none;
}

.cart-total {
  text-align: end;
  margin-top: 10px;
  margin-right: 10px;
}

.cart-total-title {
  font-weight: bold;
  font-size: 1.5em;
  color: purple;
  margin-right: 20px;
}

.cart-total-price {
  color: white;
  font-size: 1.1em;
}

.btn-purchase {
  display: block;
  margin: 40px auto 80px auto;
  font-size: 1.75em;
}
